	<div class="container">
		<footer id="fh5co-footer" role="contentinfo">
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<ul class="fh5co-social-icons">
							<li ><a href="{% url 'home' %}">Архитектура</a></li>
							<li><a href="{% url 'styles' %}">Стили</a></li>
							<li><a href="{% url 'architectors' %}">Известные архитекторы</a></li>
							<li><a href="{% url 'my_works:my_works_home' %}">Наши работы</a></li>
							<li><a href="{% url 'contact:contact_page' %}">Контакты</a></li>
							<li><a href="{% url 'blog:blog_home' %}">Наш блог</a></li>
							<li><a href="{% url 'news:news_home' %}">Архитектурные новости</a></li>
							<li><a href="{% url 'schema-swagger' %}">API сайта (Swagger)</a></li>
							<li><a href="{% url 'schema-redoc' %}">API сайта (Redoc)</a></li>
						</ul>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</footer>
	</div>